.download {
  padding: 50px 70px;
  background-color: #1a202c;
}
.download-pick {
  padding: 0px 0px 0px 30px;
  text-align: center;
}
.download-pick img {
  height: 500px;
  width: 280px;
}
.download-content h5 {
  font-size: 16px;
  font-family: "Inter", sans-serif !important;

  color: #ecc948;
}
.download-content {
  padding: 150px 0px;
}
.download-content h1 {
  font-family: "Inter", sans-serif !important;
  color: white;
  margin-top: 10px;
  font-weight: 800;
  font-size: 30px;
}
.download-heading {
  display: flex;
}
.download-heading h1 {
  font-size: 30px;
  font-family: "Inter", sans-serif !important;
  color: #ffffff;
  margin-top: 5px;
  font-weight: 800;
}
.download-highlight {
  text-align: start;
  background-color: #ffffff;
  font-size: 30px;
  color: #6415ff;
  font-family: "Inter", sans-serif !important;
  /* font-style: italic; */
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  /* padding: 0px 0px 0px 10px; */
  height: 50px;
  transform: skew(-15deg);
  width: 190px;
}
.install-box {
  display: flex;
  padding: 30px 0px;
  gap: 10px;
}
.playstore-download {
  padding: 16px;
  border-radius: 30px;
  background-color: white;
  align-items: center;
  height: 64px;
  width: 224px;
  justify-content: center;
  display: flex;
}
.apple {
  height: 32px !important;
  width: 27px !important;
}
.playstore-download img {
  height: 32px;
  width: 32px;
}
.playstore-download h4 {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 700;
  margin-left: 3px;
  font-family: "Inter", sans-serif !important;
}
